[Install]
WantedBy=multi-user.target

[Unit]
Description=Westwell Config A10

[Service]
Type=oneshot
ExecStart=/bin/systemctl stop systemd-timesyncd
RemainAfterExit=yes
